.ProcessPageEditDelete #submit_save_draft {
	display: none;
}

.AdminThemeReno .Inputfield p.notes {
	margin-bottom: 1em !important;
}

.ProDraftsIcon {
	float: right;
	padding-right: 1em;
}

.InputfieldStateChanged > .InputfieldHeader .ProDraftsIconNormal {
	display: none;
}
.InputfieldHeader .ProDraftsIconPending {
	display: none;
}
.InputfieldStateChanged > .InputfieldHeader .ProDraftsIconPending {
	display: inline-block;
	color: #ccc;
}

.ProDraftsIconSaving {
	display: none !important;
	font-weight: normal !important;	
}
.ProDraftSaving .ProDraftsIconSaving {
	display: inline-block !important;
}
.ProDraftSaving .ProDraftsIconNormal {
	display: none !important;
}

.ProDraftsNotice {
	position: relative;
	padding: 0.25em 0;
}
.ProDraftsNotice a:hover {
	text-decoration: underline;
}
.ProDraftsNotice span:not(.ProDraftsNoticeText) {
	opacity: 0.5;
}
#breadcrumbs .ProDraftsNotice {
	margin-top: 4px;
}
.ProDraftsNotice .ProDraftsActions {
	float: left;
}
.ProDraftsNotice .ProDraftsViews {
	float: right;
}
.ProDraftsViewsIcon {
	display: none;
}

@media screen and (max-width: 600px) {
	.ProDraftsNotice:not(.AdminThemeReno) .ProDraftsActions,
	.ProDraftsNotice:not(.AdminThemeReno) .ProDraftsViews {
		float: none;
		display: block;
	}
	.ProDraftsNotice .ProDraftsViewsIcon {
		display: inline-block;
	}
	#ProDraftsNoticeCloser {
		margin-right: 1em;
	}
}

@media screen and (max-width: 850px) {
	.ProDraftsNotice.AdminThemeReno .ProDraftsActions,
	.ProDraftsNotice.AdminThemeReno .ProDraftsViews {
		float: none;
		display: block;
	}
	.ProDraftsNotice .ProDraftsViewsIcon {
		display: inline-block;
	}
	#ProDraftsNoticeCloser {
		float: right;
	}
}

.ProDraftsNotice.pwpd-no-changes .pwpd-if-changes {
	display: none;
}

body:not(.AdminThemeReno) .ProDraftsNotice.pwpd-notice-closed {
	display: block;
	height: 4px;
	overflow: hidden;
	cursor: pointer;
}
body:not(.AdminThemeReno) .ProDraftsNotice.pwpd-notice-closed.pwpd-no-changes {
	opacity: 0.8;
}
body:not(.AdminThemeReno) .ProDraftsNotice.pwpd-notice-closed.pwpd-no-changes:hover {
	opacity: 1.0;
}
body.AdminThemeReno.ProDraftsNoticeClosed .ProDraftsNotice {
	display: none;
}

body:not(.AdminThemeReno) #ProDraftsNoticeOpener {
	display: none !important;
}
body.AdminThemeReno #ProDraftsNoticeOpener {
	display: none;
	float: right;
	margin-right: 1.5em;
	margin-top: 13px;
}
body.AdminThemeReno.ProDraftsNoticeClosed #ProDraftsNoticeOpener {
	display: inline-block;
}

/*** LIVE PREVIEW ********************************************************/

.AdminThemeReno.ProDraftsLivePreview #notices,
.ProDraftsLivePreview #notices .pw-container,
.ProDraftsLivePreview #notices .container {
	padding: 0 !important;
	margin: 0;
}
.ProDraftsLivePreview #notices li {
	padding-left: 0.6em;
	padding-right: 0.6em;
	margin: 0;
}

.ProDraftsLivePreview #content > .pw-container,
.ProDraftsLivePreview #content > .container {
	padding-left: 0;
	padding-right: 0.5em;
}
.ProDraftsLivePreview #content .WireTabs {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.AdminThemeReno.ProDraftsLivePreview #content {
	padding: 0 !important;
}
.AdminThemeReno.ProDraftsLivePreview #content .WireTabs {
	margin-top: 0.5em;
}
.AdminThemeReno.ProDraftsLivePreview .ProDraftsNotice .pw-container,
.AdminThemeReno.ProDraftsLivePreview .ProDraftsNotice .container {
	padding-left: 0.5em;
	padding-right: 1em;
	padding-top: 0.25em;
}
.ProDraftsLivePreview #content .InputfieldSubmit {
	clear: none !important;
	width: auto !important;
	margin-left: 0.5em !important;
}
.ProDraftsLivePreview {
	margin-top: 0 !important;
}

.ProDraftsLivePreview #_ProcessPageEditSettings,
.ProDraftsLivePreview #_ProcessPageEditDelete,
.ProDraftsLivePreview #_ProcessPageEditChildren {
	display: none !important;
}

.ProDraftsLivePreview .ProDraftsIconNormal {
	color: #ccc;
}

.pwpd-refresh,
.pwpd-exit {
	float: right;
}
.pwpd-refresh {
	margin-right: 1em;
}
.pwpd-refresh i,
.pwpd-exit i {
	margin-left: 3px;
	opacity: 0.8;
}
.pwpd-refresh:hover i,
.pwpd-exit:hover i {
	opacity: 1.0;
}

.ui-tooltip {
	white-space: pre-line;
}

.ProDraftsHasTooltip:hover {
	cursor: pointer;
}

.pw-button-dropdown {
	display: none;
}

