
.skip {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
}

a.skip:active,
a.skip:focus,
a.skip:hover {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: visible;
}

img {
  #corps &, .img_content & {
    width: 100%
  }
}
#navigationArticles{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.lienD, .lienG {
  line-height: 20px;
  a {
    font-size: $smallText;
    color: inherit;
  }
}

.lienD {
  text-align: right;
}

.firstArticles {
    .miniature {
      overflow: hidden;

      a {
        display: block;
      }
    }

    .textePromenade {
      font-size: $mediumText;
      line-height: 1.5em;
      p {
        padding: 0;
      }

      h3 {
        font-size: 18px;
        margin-bottom: 5px;
        font-weight: bold;
          font-weight: bold;
          letter-spacing: 0.05em;
          margin-bottom: 5px;
      }
      .date {
        margin-right: 10px;
        font-size: $smallText;
      }
      a {
        color: black;
      }

      .suite {
        margin-top: 5px;
        padding-bottom: 10px;


        a {
          border-bottom: 1px dotted grey;
          &:before {
            content: "> "
          }
        }
      }

  }

  @media all and (min-width: $minDesktop) {
    display: grid;
    grid-template-columns: 150px 1fr;
    .miniature {
      a {
        display: block;
      }
    }
    .textePromenade {
      vertical-align: top;
      padding: 0 20px 20px 20px;

      .suite {
        a {
          border-bottom: 1px dotted $gris;
        }
      }
    }
  }
}
.remainingArticles {
  line-height: 1.35em;
  font-size: $smallText;

  .itemPromenade {
    border-bottom: 1px dotted $gris;
    display: table;
  }

  a {
    color: inherit
  }

  .miniature {
    width: 50px;
    display: table-cell;
  }

  .textePromenade {
    display: table-cell;
    width:auto;
    vertical-align: top;
    padding-left: 10px;
  }

}

#presentationLivre {
  display: grid;
  grid-template-areas:
          "texte"
          "livres";

  .livre {
    grid-area: livres;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0 30px 0;

    img {
      max-height: 300px;
      margin-right: 10px;
      width: auto;
      border: 1px solid $gris;
    }
  }

  .presentation {
    grid-area: texte;
  }

  @media all and (min-width: $minDesktop) {
    grid-template-areas:
          "livres"
          "texte";
  }
}

#bookDescription {
  padding-top: 50px;

  a {
    color: inherit;
    border-bottom: 1px dotted $gris;
  }

  .imageLivre {
    font-size: $smallText;
    line-height: 1.35em;
    width: 300px;

    img {
      max-width: 250px;
      height: auto;
      margin-bottom: 10px;
      border: 1px solid $gris;
    }

    .details {
      padding-right: 20px;

      .itemMetaHidden {
        display: none
      }

      p {
        padding: 0 0 10px 0
      }

      .autreDetails {
        a {
          margin-right: 10px;
        }
      }
    }
  }

  .texteLivre {
    vertical-align: top;

    .extrait {
      font-style: italic;
      padding: 10px 0 5px 0;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      margin-bottom: 20px;
      margin-top: 20px;

      p {
        padding-bottom: 10px;
      }
    }

    h2 {
      margin-bottom: 20px;
    }

    .critiques {
      p {
        padding-bottom: 10px;
      }

      .critique {
        border: 1px dotted $gris;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 40px;

        .auteur {
          text-align: right;
          font-size: $smallText;
          padding-bottom: 0;
        }

        h3 {
          color: white;
          line-height: 1.25em;
          margin-top: -25px;
          margin-bottom: 20px;
          letter-spacing: .0125em;

          span {
            padding: 10px;
            background-color: black;
          }

        }
      }
    }

    @media all and (min-width: $minDesktop) {
      .extrait {
        width: 70%;
        margin-top: 0
      }
    }
  }

  @media all and (min-width: $minDesktop) {
    display: table;
    .imageLivre, .texteLivre {
      display: table-cell;
    }
  }

  @media all and (min-width: $minDesktop) {
    grid-template-columns: 300px 1fr;
  }
}


#taxonomies {
  position: relative;
  margin-top: 50px;
  padding-bottom: 100px;
  font-size: $mediumText;
  line-height: 1.35em;

  h2 {
    padding-bottom: 10px;
  }

  span.date {
    font-size: $mediumText;
  }

  .taxo {
    border: 1px dotted $gris;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 20px;

    a {
      color: inherit;
    }

    p {
      padding-bottom: 10px;
    }

    .voirPlus {
      margin-top: 5px;
      padding-bottom: 10px;

      a {
        &:before {
          content: "> "
        }
      }
    }

    .photo {
      width: 10px;

      img {
        width: 120px;
        height: auto;
      }
    }
  }

  @media all and (min-width: $minBigDesktop) {
    display: flex;
    flex-wrap: wrap;

    .taxo {
      width: 40%;
      display: table;

      .photo {
        display: table-cell;
      }

      .texte {
        display: table-cell;
        padding-left: 20px;
        vertical-align: top;
      }
    }
  }
}

#taxonomiesList {
  padding-top: 50px;
  padding-bottom: 50px;

  a {
    color: inherit;
    border-bottom: 1px dotted $gris
  }

  .taxoLettre {
    margin-top: 20px;
    margin-bottom: 15px;
    color: white;
    z-index: 10001;
    span {
      background-color: black;
      padding: 10px 20px;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  @media all and (min-width: $minTablet) {
    columns: 3;
  }
}

#taxonomiesLink, #taxonomiesLinkTop {
  position: absolute;
  bottom: 40px;
  left: 0;
  span {
    background-color: black;
    padding: 10px;
  }
}
#taxonomiesLinkTop {
  font-size: 18px;
  top: 0;
  right: 100px;
  left: inherit;
  bottom: inherit;
}
#couleurP, #couleurS{
  display: none;
}

.videoWrapper {
  position: relative;
  height: 0;
  padding-top: 30px;
  padding-bottom: 52%;
  margin-bottom: 40px;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @media all and (max-width: 730px) {
      padding: 0 0 51% 0;
  }
}
#homeIcon{
  padding-top:5px;
  margin-left:-4px;
  margin-top: 5px;
  float: left;
  margin-right: 10px;
  a{
    background-color: transparent !important;
  }
  @media all and (min-width: $minTablet) {
    float: none;
    margin-right: 0;
  }
}

.pagination{
  margin: 20px 0;
  line-height: 1.4em;
  li{
    font-size: $smallText;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    min-width: 30px;
    text-align: center;
    &.active{
      background-color: $grisPale;
      a{
        color: white;
      }
    }
    &.MarkupPagerNavSeparator{
      border: none;
      color: black;
    }
    &.MarkupPagerNavNext, &.MarkupPagerNavPrevious{
      border: none;
    }
  }
  a{
    color: black;
  }
}