#homeCircles {
  position: relative;
  width: 560px;
  height: 560px;
  margin: 60px auto 0 -95px;
  color: white;
  text-align: center;
  .nom {
    padding-top: 100px;
    font-size: 30px;
    letter-spacing: .3em;
    text-transform: uppercase;
    background-color: transparent;
  }
  .titre {
    letter-spacing: .5em;
  }
  @media all and (min-width: $minTablet) {
    margin: 80px auto 0 auto;
  }
}

#largeCircle {
  position: absolute;
  height: 560px;
  width: 560px;
  bottom: 0;

  img {
    animation: rotation 60s infinite linear;
  }
}

#smallCircle  {
  height: 50px;
  width: 50px;
  margin-top: 60px;
  margin-left: 20px;
  img#imgRotate {
    animation: inverseRotation 30s infinite linear;
  }
  #mainGrid.home & {
    margin : 0;
    left: 255px;
    bottom: 2px;
  }
  @media all and (max-width: $maxPhone){
    margin: -30px auto 0 auto;
  }
  @media all and (min-width: $minTablet) {
    position: absolute;
    right: -25px
  }
}
#backgroundMenu {
  position: absolute;
  height: 560px;
  width: 560px;
  bottom: 0;

  #menu {
    position: absolute;
    bottom: 70px;
    width: 250px;
    left: 155px;

    ul {
      li {
        text-align: center;
        border-bottom: 1px dotted white;

        a {
          text-decoration: none;
          color: white;
          padding: 5px;
          display: block;
        }
      }
    }
  }
}