#allComments {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 15px;
  clear: both;
  a{
    color: inherit;
    border-bottom: 1px dotted $gris;
  }
  h3 {
    font-size: 17px;
  }

  input {
    font-size: 15px;
  }
  .CommentList{
    display:flex;
    flex-wrap: wrap;
    li{
      width: 100%;
      border: 1px dotted gray;
      border-radius: 10px;
      line-height: 1.35em;
      padding: 10px;
      margin-right: 10px;
      margin-bottom:10px;
      display: block;
      .CommentGravatar{
        width:50px;
        height: 50px;
      }
      @media all and (min-width: $minDesktop) {
        width: 40%;
      }
    }

  }
  .CommentFormText textarea {
    height: auto;
    min-height: 200px;
    font-size: 15px;
    width: 95%;
  }

  .CommentFormNotify, .CommentFormCite {
    font-size: 15px;
  }
  .CommentFormCite {
    @media all and (min-width: $minDesktop) {
      float:left;
      margin-right: 10px;
    }

  }

  .CommentFormSoumettre button, .CommentFormSubmit button {
    padding: 10px;
    background-color: #183859;
    border: none;
    color: white;
    font-size: 14px;
  }
}

#CommentForm {
  width: 100%;
  padding: 10px;
}