body {
  margin: 0;
  background-color: $grisPale;
  border-top: 4px solid black;
}

#mainGrid {
  display: grid;
}

#pageHeader {
  grid-area: header;
}

#pageFooter {
  grid-area: footer;
  padding-top: 8px;
  font-size: 14px;
  background-color: white;
  color: $gris;
  text-align: center;
  letter-spacing: .2em;

  a {
    color: $gris;
  }
}

#mainArticle {
  grid-area: article;
  background-color: whitesmoke;
  padding: 0 1.2em;

  #page-1 & {
    display: block;
    position: relative;
    padding: 0;
    margin: 10px auto 0 auto;
    width: 600px;
    height: 100vh;
    background: none;
  }

  @media all and (min-width: $minTablet) {
    padding-left: 100px;
    padding-right: 50px;
  }
  @media all and (min-width: $minBigDesktop) {
    padding-left: 140px;
    padding-right: 140px;
  }
}

#mainNav {
  position: relative;
  grid-area: nav;
  transition: width 1s;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: -10px;
  @media all and (min-width: $minDesktop) {
    margin-left: -5px
  }
}

#arrowDown {
  display: none;
  @media all and (max-width: $maxPhone) {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width:25px
  }
}

#cRight {
  grid-area: cright;
  display: none;
}

@media all and (max-width: $maxPhone) {
  #mainGrid {
    grid-template-areas:
      "article"
      "cright"
      "nav"
      "footer";
    grid-template-rows: 1fr 50px 50px;
  }
}

@media all and (min-width: $minTablet) and (max-width: $maxTablet) {
  #mainGrid {
    grid-template-areas:
    "nav article cright"
    "nav footer cright";
    grid-template-rows: 1fr 50px;
    grid-template-columns: 50px 1fr 75px;
  }
  #cRight {
    display: block;
  }
}

/* Stack the layout on small devices/viewports. */
@media all and (min-width: $minDesktop) {
  #mainGrid {
    grid-template-areas:
    "nav article cright"
    "nav footer cright";
    grid-template-rows: 1fr 50px;
    grid-template-columns: minmax(50px, 1fr) minmax(800px, 1000px) 1fr;

    body.livre &, body.promenades & {
      grid-template-columns: 50px 1fr 75px;
    }
  }
  #cRight {
    display: block;
  }
}

#mainGrid.home {
  grid-template-areas:
      "article";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

