#languageCircle, #menuCircle {
  width: 40px;
  height: 40px;
  padding: 5px;
}

#menuCircle {
  img {
    width: 100%;
    height: auto;
    animation: rotation 60s infinite linear;
  }
}

img.desktop{
  display: none;
  width:25px;
}
img.mobile{
  display: block;
  width:25px
}

#lateralMenu {
  position: absolute;
  border-radius: 50px;
  width: 100%;
  opacity: 0;
  display: none;
  transition: opacity 2s;
  left: 0;
  top: -210px;
  text-align: center;
  #belowMenu{
    display: flex;
    width: 100%;
    heigth: 50px;
    margin-left:30px;
  }
  #language-switcher, #homeIcon, #closeMenu{
    a{
      color: white;
    }
  }
  #language-switcher{
    margin-top:8px;
    margin-right:15px;
    float:left;
  }
  #homeIcon{
    margin-left:5px;
  }
  #closeMenu {
    margin-left:10px;
    margin-top: 5px;
    img {
      cursor: pointer;
      border: 1px solid $gris;
      border-radius: 20px;
      margin-top: 5px;
      margin-left:3px;
    }
  }

  ul {
    margin: -6px auto 0 auto;
    width: 300px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
    li {
      margin-bottom: 5px;
      a {
        padding: 5px 10px;
        background-color: black;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
        &.language {
          background-color: transparent;
          border: 1px solid black;
          color: white;
        }
      }

    }
  }
  @media all and (min-width: $minTablet) {
    position: relative;
    width: auto;
    bottom: inherit;
    top:inherit;
    text-align: left;
    margin: -60px 0 0 60px;
    img.desktop{
      display: block;
    }
    img.mobile{
      display: none;
    }

    #belowMenu{
      margin-left: 0;
    }
    #language-switcher, #homeIcon{
      background-color: whitesmoke;
    }
    #language-switcher, #homeIcon, #closeMenu {
      a {
        color: black;
      }
    }
    #closeMenu {
      img{
        background-color: whitesmoke;
      }
    }
    #language-switcher
    {
      margin-left:0;
    }
    ul {
      padding: 0;
      background-color: transparent;
      border-radius: 0;
      border: none;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes inverseRotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
