body{
  padding: 0;
  margin: 0;
  font-family: Lato, serif;
  font-size: 18px;
  font-style: normal;
  line-height: 1.618em;
  color: $gris;
}
h1{
  display: inline-block;
  padding: 8px 30px 10px 30px;
  background-color: black;
  color: white;
  font-size: 20px;
  letter-spacing: .12em;
  #corps.search &{
    margin-bottom:40px
  }
}
#title{
  position: relative;
  text-align: right;
  margin-top:-30px;
}
.legende{
  font-size: $smallText;
  color: inherit;
  margin-top: -10px;
  a{
    color: inherit;
   border-bottom: 1px dotted $gris;
  }
}
h2{
  font-size: 24px;
  padding-bottom: 24px;
  padding-top:12px;
}
.signatureDate, .taxonomies, .signatureDateModification{
  font-size: $smallText;
}
.taxonomies{
  span{
    padding-left: 10px;
  }
}
sup{
  vertical-align: super;
  font-size: smaller;
}
a{
  color: white;
  text-decoration: none;
  letter-spacing: 0.05em;

  #corps &{
    color: inherit;
    border-bottom: 1px dotted $gris;
  }
}
em{
  font-style: italic;
}
p{
  padding-bottom: 1.5em;
}
blockquote{
  border-left: 3px solid black;
  font-style: italic;
  padding-left: 30px;
  padding-right: 100px;
  margin-bottom: 30px;
  margin-left: 60px;
  p{
    padding-bottom: .5em
  }
  @media all and (max-width: $maxPhone) {
    padding-left: 10px;
    padding-right:10px;
  }
}
.content{
  ol, ul{
    margin-left: 20px;
    margin-top: -5px;
    margin-bottom: 20px;
    list-style: inherit;
  }
  ol{
    margin-left: 24px;
    list-style: decimal;
  }
}
.img_content{
  position:relative;
  img{
    border-bottom: 4px solid black;
  }

}
.lettrine{
  padding-top:50px;
}
span.dropcap {
  float: left;
  margin: -15px 0 -10px -13px;
  color: #5b8b6c;
  font-family: "Julius Sans One", sans-serif;
  font-size: 116px;
  font-style: normal;
  line-height: 72px;

  &.mince {
    margin-bottom: 12px;
  }

  &.large {
    margin-top: 4px;
    margin-right: 8px;
  }
}

