$gris: rgba(57, 69, 81, 1.00);
$grisPale: rgba(57, 69, 81, .95);
$grisClair: rgba(57, 69, 81, .30);
$blancTranslucide: rgba(255, 255, 255, .5);
$maxPhone: 693px;
$minTablet: 694px;
$maxTablet: 1022px;
$minDesktop: 1023px;
$maxDesktop: 1599px;
$minBigDesktop: 1600px;
$verySmallText: 12px;
$smallText: 14px;
$mediumText: 16px;

$circlegrey: '#d5dee1';
$white : '#FFF';
$black : '#000';
$orange : '#bc5507';
$lightgreen : '#408479';
$red : '#953c5d';
$blue : '#08439c';
$lightblue: #58aadb;


$tight2: #9d0208ff;
$close2: #e85d04ff;
$wide2: #f48c06ff;


