@import "partials/variables";
.dynamic-grid {
  display: grid;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  a{
    color: black;
  }

  .w1, .w2 {
    grid-column: span 1;
  }

  @media all and (min-width: $minTablet) {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    margin-right: 5px;
  }

  @media all and (min-width: $maxTablet) {
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    .w2 {
      grid-column: span 2;
    }
  }

}