@import "partials/variables";


.harmonicsMain {
  margin-top: 50px;

  h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
  }
}

.chartList {
  font-size: .8em;

  a {
    color: $gris;
    border-bottom: 1px dotted royalblue;
  }
}

table.dataTable.compact tbody td {
  padding: 0 4px
}

table.dataTable {
  &.compact thead th {
    background-color: rgba(59, 78, 116, .20);
    border-top: 1px solid black;
  }
}
#chartTable{
  bottom: 10px;
}
#chartTable_filter {
  margin-bottom: 10px;
  label {
    padding-right: 5px;
  }
}
#chartTable_paginate{
  margin-top:10px
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
  padding: 0.125em 1em
}
#contactGuy{
  padding: 0 10px;
  font-size: .8em;
  border-radius: 4px;
  line-height: 1.5em;
  background-color: $grisClair;
  color: $gris
}
.twoCol{
  padding-top:50px;
  display:block;

  a{
    color:inherit;
    opacity: .8;
    border-bottom: 2px dotted $grisClair;
  }
  @media all and (min-width: $minDesktop) {
    display: flex;
    >div{
      width:50%;
    }

  }
  div:first-child{
    padding-right: 40px;
  }

}
