@import "partials/variables";

@font-face {
  font-family: "astro";
  src: url(https://www.guyverville.com/site/classes/fonts/HamburgSymbols.ttf) format("truetype");
}

#mainGrid {
  @media all and (min-width: $minDesktop) {
    grid-template-columns: 50px 1fr 100px;
  }
}

#messagesSaved, #messagesUpdated, #messages {
  display: none;
  background-color: #0a54a5;
  color: white;
}

button {
  a {
    color: white;
  }

  font-size: .6em;
  margin-top: 5px;
  line-height: 1.35em;
}

.tight, .close, .wide {
  font-size: .95em;
}

.lateral {
  margin-right: 5px;
}

.tight {
  font-weight: bold;
  border: 1px solid $gris;
  background-color: $gris;
  color: white;
  padding: 0 2px 0 2px;
  font-size: .8em
}

.close {
  border-bottom: 1px solid black;
}

.wide {
  font-weight: normal;
}

.harmonics p {
  padding: 0;
  margin: 0 0 3px 0;
}

span.glyph {
  font-family: 'astro';
}

h1 {
  background-color: transparent;
  font-size: 26px;
  padding: 20px 0 20px 0;
  color: black;
}

h2 {
  font-size: 20px;
  padding: 0;
}

h3 {
  font-size: 16px;
  padding: 5px 0;
  margin: 0;
  border-bottom: 1px dotted grey;
}

.harmonicsDiv {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 125%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  @media all and (max-width: $maxPhone) {
    padding-bottom: 40px;
  }

  div {
    margin-bottom: 20px;
  }

  #aspects {
    width: 20%;

    table {
      td {
        min-width: auto;
      }
    }
  }

  #harmonics, #transitHarmonics, #synastryHarmonics {
    width: 60%;
    margin-right: 100px;
    @media all and (max-width: $maxPhone) {
      max-width: 100%;
      width: 100%;
      margin-right: 0;
    }
  }

  #houses, #planets {
    float: left;
    margin-right: 20px
  }

  table {
    td, tr {
      padding: 3px 10px 3px 3px;
      border-bottom: 1px dotted grey;
      min-width: 50px;
      line-height: 150%;
    }

    tr {
      text-align: left;
      font-weight: bold;
    }

    td {
      font-weight: normal;
    }
  }


  .sub_harmonics {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid $gris;
    border-radius: 10px;
    padding: 10px;

    p {
      padding: 0;
      margin: 0;
    }

    h3 {
      margin-bottom: 10px;
    }

    sup {
      vertical-align: middle;
      font-size: .8em;
      padding-right: 1px
    }

    div {
      min-width: 20%;
      line-height: 150%;
    }
  }
}

@media all and (max-width: $maxPhone) {
  .uk-button {
    width: 49.4%;
    margin-bottom: 5px;

    &.backToPortal {
      width: 100%;
    }

    &.backToPortalTop {
      width: 70%;
    }
  }
}

.uk-button {
  &.portal {
    width: 100%;
  }
}

.books {
  padding-top: 30px;

  p {
    padding: 0;
    margin: 0 0 5px;
    font-size: .85em;
    line-height: 1.35em;
  }

  img {
    max-width: 100px;
    height: auto;
  }
}

.glyph {
  width: 50px;
  font-size: 1.2em;
}

.menuHarmonic {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#harmonicDefinitions {
  line-height: 1.5em;

  table {
    position: relative;

    td, th {
      padding: 4px;
    }

    td.angle {
      text-align: right;
    }
  }
}

#synastryForm {
  width: 100%
}

#harmonicsForm {
  width: 100%;

  .Inputfields {
    display: flex;
    margin-bottom: 0;
  }

  .Inputfield {
    margin-bottom: 0;
  }

  .InputfieldContent {
    display: flex;
    margin-right: 10px;
    margin-bottom: 0;

    .uk-input {
      width: 80px;

    }

    .minus, .plus {
      font-size: 1em;
      font-weight: bold;
      cursor: pointer;
      padding: 0 20px;
    }
  }

  p.note {
    font-size: .8em;
    margin-top: 10px;
  }
}

.headerMenu, .footerMenu {
  display: flex;
}


#preferences, #titleSynastryAspects {
  display: none;
}

#harmonic_form, #synastry_form {
  ul {
    padding-left: 0
  }
}

.harmonicList {
  tr {
    border: none;
  }

  th {
    text-align: center;
    border-bottom: 1px solid black;
    vertical-align: middle;
  }

  td.empty {
    border-bottom: none;
    border-bottom-width: 0;
    width: 30px;
  }

  td.type {
    border: 1px solid black;
    background-color: grey;
    width: 30px;
    color: white
  }
}

/** Birth chart */
#synastryChart {
  display: flex;
}

#birthchart {
  height: auto;
  width: 800px;
  margin: 30px auto;

  .outerCircle {
    fill: $grisClair;
  }

  .degreeLine {
    stroke-width: 3px;
    stroke-color: 3px;
  }
}

#pointBar {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  align-content: flex-start;

  .harmPoint, .harmPointAbsent {
    width: 20px;
    height: 20px;
    padding: 5px 5px 5px 5px;
    line-height: 1.5em;
    font-size: .8em;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid $gris;
    cursor: pointer;

    &.selected {
      background-color: $gris;
      color: white;
    }
  }

  .harmPointAbsent {
    cursor: not-allowed;
    opacity: .25;

    &:hover {
      background-color: red;
    }
  }

  .harmPoint {
    &:hover {
      background-color: $grisClair;
    }
  }
}

.harmLine {
  display: none;

  &.montrer {
    display: block;
  }
}

#idData {
  display: none
}

#wheel {
  iframe {
    width: 100%;
    height: 800px;
  }
}

#warning {
  background-color: red;
  color: white;
  padding: 5px;
  font-size: .9em;
}
