@import "partials/variables";

.registration{
  max-width: 500px;
  width: 80%;
  margin: 30px auto;
  font-size: .8em;
  .warning{
    text-align: center;
    background-color: $gris;
    color: white;
    padding:10px;
    border-radius: 5px;
    p{
      line-height: 1.5em;
      margin:0;
      padding:0
    }
  }
  a{
    color: black
  }
  button, a{
    background-color: $gris;
    padding:10px;
    border-radius : 5px;
    color: white;
    font-size: .8em;
    float: left;
    margin-right: 10px;
  }
  a{
    padding: 4px 10px;
    margin-top:2px;
  }
  .LoginRegisterPro{
    h2{
      font-size: 1.5em;
      margin-top: 20px;
    }
    .Inputfield:not(.InputfieldSubmit){
      background-color: $grisClair;
      border-radius: 5px;
    }
    .LoginRegisterNotice{
      color: $gris;
      border-color: $gris;
      border-radius: 5px;
    }
  }
  #ProcessForgotPassword{
    .InputfieldContent{
      p{
        line-height: 1.5em;
      }
    }
  }
}
