.dynamic-grid{display:grid;gap:10px;margin-top:20px;margin-bottom:20px}.dynamic-grid a{color:#000}.dynamic-grid .w1,.dynamic-grid .w2{grid-column:span 1}@media all and (min-width: 694px){.dynamic-grid{grid-template-columns:repeat(auto-fit, minmax(30%, 1fr));margin-right:5px}}@media all and (min-width: 1022px){.dynamic-grid{grid-template-columns:repeat(auto-fit, minmax(20%, 1fr))}.dynamic-grid .w2{grid-column:span 2}}/*# sourceMappingURL=dynamic-grid.css.map */
