/**
 * InputfieldFrontendFile styles
 * 
 * This file is inclusive of the the dropzone.scss in addition to custom styles
 * for this Inputfield. First is the dropzone.scss source, followed by ProcessWire
 * specific additions and overrides at the bottom fo this file. 
 * 
 * 
 */

$pw-dropzone-background: lighten(#eee, 5%); // background of entire dropzone area
$pw-dropzone-text-color: #777; // color for text saying where to upload
$pw-dropzone-border-color: rgba(0, 0, 0, 0.1);
$pw-dropzone-dragover-background: rgba(0,0,0,0.5); // background when file dragged in
$pw-dropzone-dragover-text-color: white; // text color when file dragged into dropzone

$pw-image-size: 130px; // size of file/image previews
$pw-image-border-radius: 0; // radius of file/image previews
$pw-item-text-color: black;
$pw-item-icon-color: white;
$pw-item-remove-ready-color: crimson; // trash icon hovered
$pw-item-removed-color: red; // trash icon clicked
$pw-item-outline-color: #ccc;
$pw-item-border-color: white; // when not hovered or marked for deletion
$pw-item-hover-border-color: black; // replaces invisible white border when item hovered


/*
 * dropzone.scss: 
 *
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */

// Permission is hereby granted, free of charge, to any person obtaining a copy of
// this software and associated documentation files (the "Software"), to deal in
// the Software without restriction, including without limitation the rights to
// use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
// of the Software, and to permit persons to whom the Software is furnished to do
// so, subject to the following conditions:

// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.

// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

@mixin prefix($map, $vendors: webkit moz ms o) {
	@each $prop, $value in $map {
		@if $vendors {
			@each $vendor in $vendors {
				#{"-" + $vendor + "-" + $prop}: #{$value};
			}
		}
		// Dump regular property anyway
		#{$prop}: #{$value};
	}
}

@include keyframes(passing-through) {

	0% {
		opacity: 0;
		@include prefix((transform: translateY(40px)));
	}

	30%, 70% {
		opacity: 1;
		@include prefix((transform: translateY(0px)));
	}

	100% {
		opacity: 0;
		@include prefix((transform: translateY(-40px)));
	}
}

@include keyframes(slide-in) {

	0% {
		opacity: 0;
		@include prefix((transform: translateY(40px)));
	}

	30% {
		opacity: 1;
		@include prefix((transform: translateY(0px)));
	}
}

@include keyframes(pulse) {

	0% {
		@include prefix((transform: scale(1)));
	}
	10% {
		@include prefix((transform: scale(1.1)));
	}
	20% {
		@include prefix((transform: scale(1)));
	}

}

.dropzone, .dropzone * {
	box-sizing: border-box;
}

.dropzone {

	$image-size: $pw-image-size; // PW (was 120px)
	$image-border-radius: $pw-image-border-radius; // PW (was 20px)
	$dropzone-border-color: rgba(0,0,0,0.3);

	&.dz-clickable {
		cursor: pointer;

		* {
			cursor: default;
		}
		.dz-message {
			&, * {
				cursor: pointer;
			}
		}
	}

	min-height: 150px;
	background: white;
	border: 2px solid rgba(0, 0, 0, 0.3);
	padding: 20px;

	&.dz-started {
		.dz-message {
			display: none;
		}
	}

	&.dz-drag-hover {
		border-style: solid;
		.dz-message {
			opacity: 0.5;
		}
	}
	.dz-message {
		text-align: center;
		margin: 2em 0;
	}

	.dz-preview {
		position: relative;
		display: inline-block;

		vertical-align: top;

		min-height: 100px;
		margin: 16px;

		&:hover {
			// Making sure that always the hovered preview element is on top
			z-index: 1000;
			.dz-details {
				opacity: 1;
			}
		}

		&.dz-file-preview {

			.dz-image {
				border-radius: $image-border-radius;
				background: #999;
				background: linear-gradient(to bottom, #eee, #ddd);
			}

			.dz-details {
				opacity: 1;
			}
		}

		&.dz-image-preview {
			background: white;
			.dz-details {
				@include prefix((transition: opacity 0.2s linear));
			}
		}

		.dz-remove {
			font-size: 14px;
			text-align: center;
			display: block;
			cursor: pointer;
			border: none;
			&:hover {
				text-decoration: underline;
			}
		}

		&:hover .dz-details {
			opacity: 1;
		}
		.dz-details {
			$background-color: #444;

			z-index: 20;

			position: absolute;
			top: 0;
			left: 0;

			opacity: 0;

			font-size: 13px;
			min-width: 100%;
			max-width: 100%;
			padding: 2em 1em;
			text-align: center;
			color: rgba(0, 0, 0, 0.9);

			$width: 120px;

			line-height: 150%;

			.dz-size {
				margin-bottom: 1em;
				font-size: 16px;
			}

			.dz-filename {

				white-space: nowrap;

				&:hover {
					span {
						border: 1px solid rgba(200, 200, 200, 0.8);
						background-color: rgba(255, 255, 255, 0.8);
					}
				}
				&:not(:hover) {
					span {
						border: 1px solid transparent;
					}
					overflow: hidden;
					text-overflow: ellipsis;
				}

			}

			.dz-filename, .dz-size {
				span {
					background-color: rgba(255, 255, 255, 0.4);
					padding: 0 0.4em;
					border-radius: 3px;
				}
			}

		}

		&:hover {
			.dz-image {
				// opacity: 0.8;
				img {
					@include prefix((transform: scale(1.05, 1.05))); // Getting rid of that white bleed-in
					@include prefix((filter: blur(8px)), webkit); // Getting rid of that white bleed-in
				}
			}
		}

		.dz-image {
			border-radius: $image-border-radius;
			overflow: hidden;
			width: $image-size;
			height: $image-size;
			position: relative;
			display: block;
			z-index: 10;

			img {
				display: block;
			}
		}

		&.dz-success {
			.dz-success-mark {
				@include prefix((animation: passing-through 3s cubic-bezier(0.770, 0.000, 0.175, 1.000)));
			}
		}
		&.dz-error {
			.dz-error-mark {
				opacity: 1;
				@include prefix((animation: slide-in 3s cubic-bezier(0.770, 0.000, 0.175, 1.000)));
			}
		}

		.dz-success-mark, .dz-error-mark {

			$image-height: 54px;
			$image-width: 54px;

			pointer-events: none;

			opacity: 0;
			z-index: 500;

			position: absolute;
			display: block;
			top: 50%;
			left: 50%;
			margin-left: -($image-width/2);
			margin-top: -($image-height/2);

			svg {
				display: block;
				width: $image-width;
				height: $image-height;
			}
		}

		&.dz-processing .dz-progress {
			opacity: 1;
			@include prefix((transition: all 0.2s linear));
		}
		&.dz-complete .dz-progress {
			opacity: 0;
			@include prefix((transition: opacity 0.4s ease-in));
		}

		&:not(.dz-processing) {
			.dz-progress {
				@include prefix((animation: pulse 6s ease infinite));
			}
		}
		.dz-progress {

			opacity: 1;
			z-index: 1000;

			pointer-events: none;
			position: absolute;
			height: 16px;
			left: 50%;
			top: 50%;
			margin-top: -8px;

			width: 80px;
			margin-left: -40px;

			// border: 2px solid #333;
			background: rgba(255, 255, 255, 0.9);

			// Fix for chrome bug: https://code.google.com/p/chromium/issues/detail?id=157218
			-webkit-transform: scale(1);

			border-radius: 8px;

			overflow: hidden;

			.dz-upload {
				background: #333;
				background: linear-gradient(to bottom, #666, #444);
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 0;
				@include prefix((transition: width 300ms ease-in-out));
			}

		}

		&.dz-error {
			.dz-error-message {
				display: block;
			}
			&:hover .dz-error-message {
				opacity: 1;
				pointer-events: auto;
			}
		}

		.dz-error-message {
			$width: $image-size + 20px;
			$color: rgb(190, 38, 38);

			pointer-events: none;
			z-index: 1000;
			position: absolute;
			display: block;
			display: none;
			opacity: 0;
			@include prefix((transition: opacity 0.3s ease));
			border-radius: 8px;
			font-size: 13px;
			top: $image-size + 10px;
			left: -10px;
			width: $width;
			background: $color;
			background: linear-gradient(to bottom, $color, darken($color, 5%));
			padding: 0.5em 1.2em;
			color: white;

			// The triangle pointing up
			&:after {
				content: '';
				position: absolute;
				top: -6px;
				left: $width / 2 - 6px;
				width: 0;
				height: 0;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-bottom: 6px solid $color;
			}
		}

	}
}



/*********************************************************************************** 
 * PROCESSWIRE-SPECIFIC ADDITIONS AND OVERRIDES TO DROPZONE 
 *
 */

.dropzone {
	// the entire area where files can be dropped and where previews
	// of already uploaded files appear
	
	border: 1px solid $pw-dropzone-border-color;
	padding: 10px; // was 20px
	background-color: $pw-dropzone-background;

	// the part that says "drop files here..."
	.dz-message {
		color: $pw-dropzone-text-color;
	}
	
	// when a file has been dragged into the dropzone
	&.dz-drag-hover {
		background: $pw-dropzone-dragover-background;
		.dz-message {
			color: $pw-dropzone-dragover-text-color;
		}
	}

	// a single file item 
	.dz-preview {
		margin: 5px 5px 10px 5px; 
		border: 1px solid $pw-item-outline-color;

		// details of the file item (filename and size) that are shown on hover
		.dz-details {
			.dz-filename > a {
				> span {
					cursor: pointer;
				}
				&:not(:hover) {
					color: $pw-item-text-color;
				}
			}
		}

		// thumbnail preview of file or image
		.dz-image {
			border: 5px solid $pw-item-border-color;
		}

		// hovered file preview
		&:hover {
			border-color: $pw-item-hover-border-color;
			.dz-image {
				border-color: $pw-item-hover-border-color;
			}
		}

		// preview of image only (excludes file items that have no thumbnail)
		&.dz-image-preview .dz-image {
		}

		// remove link (trash icon) displayed when item is hovered or marked for deletion
		.dz-remove,
		.pw-dz-edit {
			display: none;
			position: absolute;
			z-index: 21;
			width: 28px;
			height: 28px;
			line-height: 28px;
			font-size: 14px;
			background: $pw-item-hover-border-color;
			color: $pw-item-icon-color;
			text-decoration: none;
			&, .pw-dz-icon {
				cursor: pointer;
			}
			&.dz-remove {
				top: 2px;
				left: 2px;
				&:hover {
					background: $pw-item-remove-ready-color;
				}
			}
			
			&.pw-dz-edit {
				bottom: 2px;
				right: 2px;
				.pw-dz-icon {
					left: 8px;
					position: relative;
				}
			}
		}
		&:hover {
			background: transparent; // $pw-item-remove-ready-color;
		}
		
		// show remove link when item hovered or when marked for removal
		&:hover .dz-remove,
		&:hover .pw-dz-edit,
		&.pw-dz-removed .dz-remove {
			display: block;
		}

		// item marked for removal
		&.pw-dz-removed {
			border-color: $pw-item-removed-color;
			.dz-image {
				border-color: $pw-item-removed-color;
			}
			.dz-remove {
				background: $pw-item-removed-color;
			}
			.dz-size {
				text-decoration: line-through;
			}
			.pw-dz-edit {
				display: none;
			}
		}
		// item ready for removal (trash hovered) or item already marked for removal
		&.pw-dz-remove-ready {
			border-color: $pw-item-remove-ready-color;
			.dz-image {
				border-color: $pw-item-remove-ready-color;
			}
			.dz-remove {
				background: $pw-item-remove-ready-color;
			}
			.pw-dz-edit {
				display: none;
			}
		}

	}

	// adjustments for thumbnail image according to whether image is taller or wider
	.dz-preview.pw-dz-ready .dz-image {
		img.pw-dz-wider {
			height: $pw-image-size;
			max-width: none;
		}
		img.pw-dz-taller {
			width: $pw-image-size;
			max-height: none;
		}
	}

	// on dz-file-preview (not dz-image-preview) img element is placeholder only and has no src
	.dz-file-preview .dz-image img {
		display: none;
	}

	// indicate items are drag-sortable when jQuery UI is present
	&.ui-sortable .dz-preview {
		img,
		.dz-details,
		.dz-details > div,
		.dz-image {
			cursor: move;
		}
	}
}

// editor that appears when user clicks on filename or edit icon
.pw-dz-editor {
	.pw-dz-info {
		width: 100%;
		border-spacing: 0;
		margin-bottom: 1em; 
		
		th, td {
			vertical-align: top;
			border-bottom: 1px solid $pw-dropzone-border-color;
			padding: 7px 0;
		}
			
		th {
			font-weight: bold;
			padding-right: 1em;
			padding-left: 0;
			text-align: left;
		}
		td {
			font-weight: normal;
		}
	}
	
	.pw-dz-img img {
		max-width: 100%;
	}
}

// class on Inputfield when proportional width (left) gridMode is indicated
.InputfieldFrontendFileLeft {
	.dropzone .dz-preview .dz-image {
		width: auto; // was width: $image-size
		min-width: $pw-image-size; 
	}
}

